*.xlsx
*.xlsm
*.xls
*.csv
*.pyc
*.pptx
*.ppt
*.h5
*.zip
*.7z
*.pickle

~$*
__pycache__/

.idea
*.swp
tags
.coverage
.ipynb_checkpoints/
build/
dist/
venv/
*.egg-info/
.vscode/
.cache/
*.sqlite
credentials.json